*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    box-sizing: border-box;
}
header{
    background:transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}
header img{
    margin-left: 50px;
    width: 170px;
    height: 50px;
}
header nav ul li{
    font-weight: 500;
    display: inline-block;
    transition: all 0.7s;
    padding: 10px;
}
.icons i{
    padding: 10px;
    transition: all 0.7s;
}
header nav ul li:hover , .icons i:hover{
    background-color: rgba(178, 178, 178, 0.875);
    border-radius: 5px;
}
#menu{
    display: none;
    font-size: 18px;
    width: auto;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}
.container_1,.container_2,.container_3,.container_4,.container_5{
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-image: url("images/bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.header{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}
.sub_head{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.sub_sub_head{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: rgb(93, 93, 93);
}
.heading_container{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-align: center;
}
.button_container{
    display: flex;
}
.order_now,.demo{
    
    padding: 10px 90px;
    border: none;
    border-radius: 5px;
    transition: all 0.5s;
    
}
.order_now{
    margin-right: 5px;
    background-color:white;
    color: black;
}
.demo{
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0.847);
    color: white;
}
.order_now :hover,.demo:hover{
    opacity: 0.8;
}
.button_container{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container_1 .heading_container{
    color: white;
}
.container_2{
    background-image: url("images/bg2.jpg");
    
}

.container_2 .heading_container,.container_3 .heading_container,.container_4 .heading_container,.container_5 .heading_container{
    top: 15%;
}
.container_3{
    background-image: url("images/bg3.jpg");
    
}
.container_4{
    background-image: url("images/bg4.jpg");
}
.container_4  .heading_container{
    left: 40%;
}
.container_5{
    
    background-image: url("images/bg5.jpg");
}
.container_5  .heading_container{
    left: 53%;
}
.container_5 .sub_sub_head{
    color: black;
    transition: all 0.5ms;
}

.container_5 .sub_sub_head:hover{
    cursor: pointer;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
 
@media (max-width: 768px) {
    

    header img{
        width: 100px;
        margin-left: 10px;
    }
    header nav {
        display: none;
    }
    header .icons{
        display: none;
    }
    #menu{
        display:contents ;
    }
    .header{
        font-size: 25px;

    }
    .sub_head{
        font-size: 15px;
    }
    .sub_sub_head{
        font-size: 15px;
    }
    .container_1 .heading_container{
        top:18%;
    }
    .button_container{
        display: flex;
        margin:0px;
        flex-direction: column ;
        

    }
    .order_now,.demo{
        width: 100%;
        transition: none;
        padding: 10px 45px;
        transition: none;
    }
    .order_now{
        margin:0px;
        margin-bottom: 5px;
    }
    .demo{
        margin:0px;
        margin-top: 5px;
    }
    .container_5 .sub_sub_head{
        transition: none;
    }

}