*{
    padding: 0;
    margin: 0;
    font-family: "Noto+Sans";
    box-sizing: border-box;
}
body{
    background-color: #fffdf9;
    overflow-y: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    padding: 1% 0px;
    margin: 0 5%;
    flex-wrap: wrap;
    position: relative;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: wrap;
}
#hamberger{
    display: none;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 1s;
}
.logo{
    font-weight: bold;
    font-size: 2.5rem;
}
.get_started{
    background-color: black;
    padding: 10px 20px;
    border-radius: 40px;
    color: white;
    transition: all 1s;
}
.sub_head{
    text-align: center;
    background: rgb(251,240,184);
    background: -moz-linear-gradient(43deg, rgba(251,240,184,1) 0%, rgba(253,235,125,1) 47%, rgba(255,188,21,1) 100%);
    background: -webkit-linear-gradient(43deg, rgba(251,240,184,1) 0%, rgba(253,235,125,1) 47%, rgba(255,188,21,1) 100%);
    background: linear-gradient(43deg, rgba(251,240,184,1) 0%, rgba(253,235,125,1) 47%, rgba(255,188,21,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fbf0b8",endColorstr="#ffbc15",GradientType=1);
    padding: 1%;
    border: solid;
    border-width: 2px 0;
    font-size: 1.2rem;
}
.sub_head p{
    font-weight: bold;
}
.sub_head a{
    font-weight: normal;
    color: black;
}
.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: solid;
    border-width: 1px 0px;
    border-top-width: 0px;
    padding: 1% 0;
}
.main_text{
    margin: 0 4%;
    width: 75%;
}
.text_1{
    line-height:0.80;
    font-size: 7.5rem;
    width: 100%;
    margin: 4% 0;
}
.text_2{
    font-size: 1.6rem;
    margin: 7% 0;
}
.main_text button{
    color: white;
    background-color: black;
    padding: 10px 30px;
    font-size: 1.6rem;
    border-radius: 20px;
    transition: all 1s;
}
#photo{
    width: 25%;
    display: block;
}
img{
    width: 100%;
    float: left;
}
footer{
    padding: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
footer ul li{
    margin: 0 10px;
}


nav ul li:hover {
    background-color: rgb(255, 231, 110);
    padding: 10px;
    border-radius: 40px;
    padding: 10px 20px;
    border-radius: 40px;
}

.main_text button:hover {
    background-color: white;
    color: black;
    padding: 10px 30px;
    border-radius: 20px;
}
.get_started:hover{
    background-color: white;
    color: black;
    border: solid;
    border-width: 1px;
}
@media screen and (max-width:768px) {
    .nav-ul{
        width: 100%;
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: white;
    }
    .nav-ul li{
        margin: 3px 20px;
        list-style: none;
        
    }
    .get_started{
        background-color: white;
        color: black;
        padding: 0;
        transition: none;

    }
    .get_started:hover{
        border: none;
    }
    .show{
        display: flex;
    }
    /* other element*/
    .main_text button{
        transition: none;
    }
    .main_text button:hover{
        background-color: black;
        color: white;
    }
    .sub_head{
        font-size: 1rem;
    }
    .main_container{
        padding: 4rem 0;
        justify-content: left;
    }
    .text_1{
        font-size: 5rem;
    }
    .main_text{
        float: left;
    }
    footer ul{
        flex-wrap: wrap;
    }
    footer ul li{
        font-size: 1rem;
        margin: 3px 10px;
    }
}