*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

header{
    justify-content: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    
    top:0%;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    z-index: 1000;
    padding: 10px 0px;
}

.menu_icon{
    visibility: hidden;
}
nav ul{
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li{
    text-align: center;
    font-size: 0.8rem;
    padding: 0 20px;
    cursor: pointer;
    display: inline-block;
    list-style: none;
}
.logo{
    font-size: 1.2rem;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    text-align: center;
    font-size: 1.1rem;
    padding: 0px 20px;
    
}
.iphone_15_header{
    text-align: center;
    padding: 10px 0px;
}
.iphone_15_header a{
    color: rgb(34,113,207);
    text-decoration: none;
}

.container_1{
    margin: 7px 0px;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_1 img{
    position: absolute;
    top: 3%;

}
.container_1 button{
    position:absolute;
    transition: all 0.5ms;
    top: 80%;
    font-size: 1rem;
    background-color: transparent;
    color: rgb(34,113,207);
    border-color:  rgb(34,113,207);
    border-style: solid;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: center;
}
.container_1 button:hover{
    color: white;
    background-color:rgb(34,113,207) ;
}
.container_2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 7px 0px;
    width: 100%;
    height: 80vh;
    background-image: url(images/img2.jpg);
    background-position: center;
    background-size: cover;
}
.container_2 .head,.container_2 .sub_head,.container_2 button{
    position:absolute;
    text-align: center;
    top: 65%;
    color: white;
    font-size: 3rem;
    font-weight: bold;


}
.container_2 .sub_head{
    font-size: 1.7rem;
    top: 75%;
}
.container_2 button{
    font-weight: normal;
    top:85%;
    transition: all 0.5ms;
    font-size: 1.3rem;
    padding: 10px 20px;
    background-color:rgb(1,113,227) ;
    color: white;
    border-radius: 30px;
    border: none;
    text-align: center;
}
.container_2 button:hover{
    background-color:rgb(1,113,237) ;
}
.container_4{
    width: 100%;
    height: 80vh;
    background-color: rgb(247, 247, 247);
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container_4 .head ,.container_4 .sub_head{
    color:black;
    font-weight: 500;
    font-size: 3.5rem;
}
.container_4 .sub_head{
    font-weight: normal;
    font-size: 2rem;
}
.container_4 div{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.container_4 .lm,.div1 .lm{
    margin: 10px 10px;
    font-weight: normal;
    transition: all 0.5ms;
    font-size: 1.3rem;
    padding: 8px 18px;
    background-color:rgb(1,113,227) ;
    color: white;
    border-radius: 30px;
    border: none;
    text-align: center;

}
.container_4 .lm:hover{
    color: white;
    background-color:rgb(34,113,207) ;
}
.container_4 .buy,.div1 .buy{
    margin:10px 10px;
    text-align: center;
    transition: all 0.5ms;
    font-size: 1rem;
    background-color: transparent;
    color: rgb(34,113,207);
    border-color:  rgb(34,113,207);
    border-style: solid;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: center;
}
.container_4 .buy:hover{
    color: white;
    background-color:rgb(34,113,207) ;
}

.container_3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    }
    .div1 ,.div2 ,.div3,.div4,.div5,.div6{
        flex: 1 1 49%;
        width: 49%;
        height: 80vh;
    }
    .div1 {
        background: linear-gradient(to bottom, rgb(173,220,238), rgb(242,246,247));
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
 
    }
    .div1 .head,.div2 .head,.div3 .head,.div4 .head,.div5 .head,.div6 .head{
        font-size: 2rem;
        font-weight: 500;
    }
    .div1 .sub_head,.div2 .sub_head,.div3 .sub_head,.div4 .sub_head,.div5 .sub_head,.div6 .sub_head{
        font-size: 1.2rem;
    }
    .div1 .lm{
        background-color: rgb(29,29,31);
        font-size: 1rem;
    }
    .div1 .lm:hover{
        background-color: rgb(29,29,55);
    }
    .div1 .buy{
        font: 1rem;
        color:rgb(29,29,31);
        border-color: rgb(29,29,31);
    }
    .div1 .buy:hover{
        background-color: rgb(29,29,31);
        color: white;
    }
    .div1 img{
        width: 92%;
    }  
    .div2 ,.div3,.div4,.div5,.div6{ 
 
        background-color: rgb(247, 247, 247);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .div2 .lm,.div3 .lm,.div4 .lm,.div5 .lm,.div6 .lm{
    transition: all 0.5ms;
    font-size: 1rem;
    background-color: rgb(34,113,207);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: center;
    }
    .div2 .lm:hover,.div3 .lm:hover,.div4 .lm:hover,.div5 .lm:hover,.div6 .lm:hover{
    background-color: rgb(34,113,227);
    }
    .div2 .buy,.div3 .buy,.div4 .buy{
    border-style: solid;
    transition: all 0.5ms;
    font-size: 1rem;
    background-color: transparent;
    color: rgb(34,113,227);
    border-color: rgb(34,113,227);
    border-radius: 30px;
    padding: 10px 20px;
    text-align: center;
    }
    .div2 .buy:hover,.div3 .buy:hover,.div4 .buy:hover{
        background-color: rgb(34,113,227);
        color: white;
    }
    .div2 img{
        width: 90%;
    }
    .div3 { 
        color: white;
        background-color: black;
 
    }
    .div3 img{
        width: 50%;
    }
    .div4 { 
 
        background-color: black;
        color: white;
    }
    .div4 img{
        width: 70%;
    }
    .div5 {
        text-align: center;
        display: block;
        color: white;

        background:url("images/img3.jpg"); 
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .div5 .head{
        margin-top:10%;
    }
    .div5 .lm{
        background-color: white;
        color: black;
        margin: 1% 0;
    }
    .div5 .lm:hover{
        background-color: rgb(255, 255, 250);
    }
    .div6 { 
        display: block;
        text-align: center;
         
        background: url("images/img4.jpg");
        background-position: center;
        background-size: cover;
    }
    .div6 .head{
        margin-top:9.5%;
    }

    .div6 .lm{
        
        margin: 1% 0;
    }
.container_3 div{
    margin: 10px 7px;
    margin-bottom:5px ;
    
}
.div2 ,.div4,.div6{
    margin-right: 20px;
}
footer{
    background-color: rgb(245,245,247);
    display: flex;
    justify-content: center;
    align-items: center;

}
footer div{
    font-size: 0.7rem;
    width: 70%;
}
footer div p{
    color: rgb(129,129,130);
    margin: 1% 0;
}
.div1 ,.div2 ,.div3,.div4,.div5,.div6{
    margin: 0px;
}
@media (max-width: 768px){
    body {
        overflow-x: hidden;
    }
    .menu_icon{
        visibility: visible;
    }
    header{
        justify-content: space-between;
    }
    .nav_menu{
        display: none;
    }
    .container_3{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .div1 ,.div2 ,.div3,.div4,.div5,.div6{
        height: 80vh;
        width: 97%;
    }
    .container_2 .head{
        font-size: 2rem;
    }
    .container_4 img{
        width: 100%;
    }
}